<!--<ion-view>-->
<!--<ion-content overflow-scroll="true" padding="true" class="has-header">-->

<ion-side-menus>

  <!-- Center content -->
  <ion-side-menu-content>
    <ion-header-bar class="bar-dark">
      <button class="button button-icon" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
      </button>
      <h1 class="title">{{activeProject.title}}</h1>
      <div class="buttons">
        <!--get photo-->
        <button class="button ion-icon" ng-click="showDeviceMotionTest()">
          <i class="icon ion-map"></i>
        </button>
        <!--get photo-->
        <button class="button button-icon" ng-click="getPhoto()">
          <i class="icon ion-camera"></i>
        </button>
        <!--new task-->
        <button class="button button-icon button-assertive" ng-click="newTask()">
          <i class="icon ion-compose"></i>
        </button>
      </div>
    </ion-header-bar>

    <ion-content scroll="true">
      <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
      <ion-list show-delete="shouldShowDelete"
                show-reorder="shouldShowReorder"
                can-swipe="listCanSwipe">

        <ion-item class="my-item"
                  ng-repeat="task in activeProject.tasks"
                  on-swipe-right="onTaskSwipeRight(task)"
                  on-hold="onTaskHold()"
                  ng-click="onTaskEdit(task)"
                  ng-class="{finished: task.finished}"
        >
          <h2>{{task.title}}</h2>
          <p>{{task.description}}</p>
          <ion-delete-button class="ion-minus-circled"
                             ng-click="onTaskDelete(task)">
          </ion-delete-button>
          <ion-option-button class="button-assertive"
                             ng-click="onTaskEdit(task)">
            Edit
          </ion-option-button>
          <ion-option-button class="button-calm"
                             ng-click="onTaskShare(task)">
            Share
          </ion-option-button>
          <ion-reorder-button class="ion-navicon"
                              on-reorder="moveTask(task, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

      </ion-list>
      <!--<ion-list show-delete="shouldShowDelete"-->
      <!--show-reorder="shouldShowReorder"-->
      <!--can-swipe="listCanSwipe">-->
      <!--<ion-item ng-repeat="task in activeProject.tasks"-->
      <!--class="item-thumbnail-left">-->

      <!--<img ng-src="{{task.img}}">-->
      <!--<h2>{{task.title}}</h2>-->
      <!--<p>{{task.description}}</p>-->
      <!--<ion-option-button class="button-positive"-->
      <!--ng-click="share(task)">-->
      <!--Share-->
      <!--</ion-option-button>-->
      <!--<ion-option-button class="button-info"-->
      <!--ng-click="edit(task)">-->
      <!--Edit-->
      <!--</ion-option-button>-->
      <!--<ion-delete-button class="ion-minus-circled"-->
      <!--ng-click="">-->
      <!--</ion-delete-button>-->
      <!--<ion-reorder-button class="ion-navicon"-->
      <!--on-reorder="reorderItem(item, $fromIndex, $toIndex)">-->
      <!--</ion-reorder-button>-->

      <!--</ion-item>-->
      <!--</ion-list>-->
      <!--<ion-checkbox ng-repeat="task in activeProject.tasks" ng-model="task.finished">{{task.title}}-->
      <!--<ion-option-button class="button-positive"-->
      <!--ng-click="share(task)">-->
      <!--Share-->
      <!--</ion-option-button>-->
      <!--<ion-option-button class="button-info"-->
      <!--ng-click="edit(task)">-->
      <!--Edit-->
      <!--</ion-option-button>-->
      <!--<ion-delete-button class="ion-minus-circled"-->
      <!--ng-click="">-->
      <!--</ion-delete-button>-->
      <!--<ion-reorder-button class="ion-navicon"-->
      <!--on-reorder="reorderItem(item, $fromIndex, $toIndex)">-->
      <!--</ion-reorder-button>-->
      <!--</ion-checkbox>-->
      <!--</ion-content>-->
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Projects</h1>
      <button class="button button-icon ion-plus" ng-click="newProject()">
      </button>
    </ion-header-bar>
    <ion-content scroll="false">
      <ion-list>
        <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)"
                  ng-class="{active: activeProject == project}">
          {{project.title}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>

<!--</ion-content>-->
<!--</ion-view>-->

